//Colours
$white: #FFFFFF;
$green: #78bc17;
$red: #871502;
$pink: #e6938b;
$brown: #4f2105;
$yellow: #e1ac25;
$blue: #5BC0EB;
$grey: #c9cbcc;
$darkgrey: #858484;
$black: #1a0d24;
//Fonts
$font-hand-writing: "Mistral", Calibri;
